@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
    background-color: rgb(88, 140, 219);
    font-family: 'Fira Code', monospace;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    padding-bottom: 10rem;
    color: rgb(4, 0, 255);
}

h2{
    color: yellow;
}

p{
    color: greenyellow;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}